{:profiles/dev {:env {:auth-token "abc123"
                      :database-url "jdbc:postgresql://localhost:5432/dev-db"}}
 :profiles/test {:env {:database-url "jdbc:postgresql://localhost:5432/test-db"}}}
